//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 25 13:22:09 2017
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P15" LEVEL 1;
COMP "f" LOCATE = SITE "T11" LEVEL 1;
COMP "g" LOCATE = SITE "L18" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "we" LOCATE = SITE "P18" LEVEL 1;
COMP "R_Adr<0>" LOCATE = SITE "U12" LEVEL 1;
COMP "R_Adr<1>" LOCATE = SITE "U11" LEVEL 1;
COMP "R_Adr<2>" LOCATE = SITE "V10" LEVEL 1;
COMP "anode<0>" LOCATE = SITE "J17" LEVEL 1;
COMP "anode<1>" LOCATE = SITE "J18" LEVEL 1;
COMP "anode<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "anode<3>" LOCATE = SITE "J14" LEVEL 1;
COMP "anode<4>" LOCATE = SITE "P14" LEVEL 1;
COMP "anode<5>" LOCATE = SITE "T14" LEVEL 1;
COMP "anode<6>" LOCATE = SITE "K2" LEVEL 1;
COMP "anode<7>" LOCATE = SITE "U13" LEVEL 1;
COMP "reset" LOCATE = SITE "M18" LEVEL 1;
COMP "S_Adr<0>" LOCATE = SITE "R16" LEVEL 1;
COMP "S_Adr<1>" LOCATE = SITE "T13" LEVEL 1;
COMP "S_Adr<2>" LOCATE = SITE "H6" LEVEL 1;
COMP "W<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "W<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "W_Adr<0>" LOCATE = SITE "R17" LEVEL 1;
COMP "W<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "W_Adr<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "W<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "W_Adr<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "a" LOCATE = SITE "T10" LEVEL 1;
COMP "b" LOCATE = SITE "R10" LEVEL 1;
COMP "c" LOCATE = SITE "K16" LEVEL 1;
COMP "d" LOCATE = SITE "K13" LEVEL 1;
SCHEMATIC END;

